.resource-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 5px 10px 0;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 0 0 10px 10px;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.5);
}

.resource-image img {
    width: 100%;
    max-width: 70px;
}

.resource-value {
    font-size: 0.8rem;
}