.App-header {
    display: flex;
    justify-content: space-between;
}

.logo-container {
    width: 200px;
}

h1.logo-text {
    font-size: 2.7rem;
    line-height: 1;
    margin-top: 30px;
}

.reserved-container {
    width: 200px;
}

.resources-container {
    display: flex;
    justify-content: space-evenly;
    width: calc(100% - 400px);
}