.system-list-container {
    float: left;
    width: 100%;
    padding: 5px;
    margin-top: 30px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    margin-bottom: 40px;
}

.system-list {
    float: left;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.system-list-item {
    float: left;
    width: 100%;
}

.system-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.planet-position-header,
.planet-name-header,
.planet-owner-header,
.planet-alliance-header {
    font-family: 'Economica', 'Roboto', sans-serif;
    float: left;
    padding: 3px 10px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 1.4rem;
}

.planet-position-header {
    width: 50px;
    text-align: center;
}

.planet-name-header {
    width: calc(45% - 70px);
}

.planet-owner-header {
    width: calc(30% - 20px);
}

.planet-alliance-header {
    width: calc(35% - 40px);
}